<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script
      crossorigin="anonymous"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      src="https://unpkg.com/htmx.org@1.9.10"
    ></script>
    <link rel="icon" href="%PUBLIC_URL%/favicon_scroll.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      content="Web site created using create-react-app"
      name="description"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link rel="stylesheet" href="/app.css" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap"
      rel="stylesheet"
    />
    <title>HTMX WaPo</title>
  </head>
  <body>
    <div id="header-row" hx-post="/menu/header" hx-trigger="load"></div>
    <div id="TableOfContents" class="table-of-contents-component">
      <div
        class="generic-button-component content-component-button primary"
        title=""
      >
        Subscribe
      </div>
      <hr class="divider" />
      <div class="multicontent-component content-component">
        <a class="primary" href="home">Home Page</a>
        <a class="secondary" href="/usworld">US &amp; World</a>
        <a class="secondary" href="/usworld">Regional</a>
      </div>
      <div class="content-component">
        <span class="label"> Politics </span>
        <span class="right-arrow">
          <svg
            class="rightArrow"
            hx-post="/icon/rightArrow"
            hx-select=".rightArrow"
            hx-swap="outerHTML"
            hx-trigger="load"
          ></svg>
        </span>
        <div class="subcontents-component thin-shadow">
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/thewhitehouse">
              The White House
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/courtsandlaw">
              Courts and Law
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/polling">
              Polling
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/senate">
              Senate
            </a>
          </div>
          <div class="subcontent-component">
            <a
              hx-push-url="true"
              hx-swap="none"
              hx-post="/topic/houseofrepresentatives"
            >
              House of Representatives
            </a>
          </div>
        </div>
      </div>
      <div class="content-component">
        <span class="label">Sports</span>
        <span class="right-arrow">
          <svg class="rightArrow"></svg>
        </span>
        <div class="subcontents-component thin-shadow">
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/nfl">NFL</a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/nba">NBA</a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/mlb">MLB</a>
          </div>
        </div>
      </div>
      <div class="content-component">
        <span class="label">News Letter</span><span class="right-arrow"></span>
      </div>
      <div class="content-component">
        <span class="label">National</span>
        <span class="right-arrow">
          <svg class="rightArrow"></svg>
        </span>
        <div class="subcontents-component thin-shadow">
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/education">
              Education
            </a>
          </div>
          <div class="subcontent-component">
            <a
              hx-push-url="true"
              hx-swap="none"
              hx-post="/topic/investigations"
            >
              Investigations
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/obituaries">
              Obituaries
            </a>
          </div>
          <div class="subcontent-component">
            <a
              hx-push-url="true"
              hx-swap="none"
              hx-post="/topic/nationalsecurity"
            >
              National Security
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/healthscience">
              Health &amp; Science
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/truecrime">
              True Crime
            </a>
          </div>
        </div>
      </div>
      <div class="content-component">
        <span class="label">Tech</span>
        <span class="right-arrow">
          <svg class="rightArrow"></svg>
        </span>
        <div class="subcontents-component thin-shadow">
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/innovation">
              Innovation
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/siliconvalley">
              Silicon Valley
            </a>
          </div>
        </div>
      </div>
      <div class="content-component">
        <span class="label">Business</span>
        <span class="right-arrow">
          <svg class="rightArrow"></svg>
        </span>
        <div class="subcontents-component thin-shadow">
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/onleadership">
              On Leadership
            </a>
          </div>
          <div class="subcontent-component">
            <a
              hx-push-url="true"
              hx-swap="none"
              hx-post="/topic/personalfinance"
            >
              Personal Finance
            </a>
          </div>
          <div class="subcontent-component">
            <a
              hx-push-url="true"
              hx-swap="none"
              hx-post="/topic/energyandenvironment"
            >
              Energy and Environment
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/markets">
              Markets
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/worldbusiness">
              World Business
            </a>
          </div>
          <div class="subcontent-component">
            <a
              hx-push-url="true"
              hx-swap="none"
              hx-post="/topic/capitalmarkets"
            >
              Capital Markets
            </a>
          </div>
        </div>
      </div>
      <div class="content-component">
        <span class="label">Entertainment</span
        ><span class="right-arrow"><svg class="rightArrow"></svg> </span>
        <div class="subcontents-component thin-shadow">
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/books">
              Books
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/comics">
              Comics
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/television">
              Television
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/movies">
              Movies
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/museum">
              Museum
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/music">
              Music
            </a>
          </div>
          <div class="subcontent-component">
            <a
              hx-push-url="true"
              hx-swap="none"
              hx-post="/topic/theateranddance"
            >
              Theater and Dance
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/barsclubs">
              Bars / Clubs
            </a>
          </div>
        </div>
      </div>
      <div class="content-component">
        <span class="label">Lifestyle</span
        ><span class="right-arrow"><svg class="rightArrow"></svg> </span>
        <div class="subcontents-component thin-shadow">
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/food">Food</a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/travel">
              Travel
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/wellness">
              Wellness
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/fashion">
              Fashion
            </a>
          </div>
          <div class="subcontent-component">
            <a hx-push-url="true" hx-swap="none" hx-post="/topic/homeandgarden">
              Home and Garden
            </a>
          </div>
        </div>
      </div>
      <hr class="full-break" />
    </div>

    <div class="app-body">
      <div class="slogan-sectional">
        <a
          hx-push-url="true"
          hx-swap="none"
          hx-post="/index"
          class="slogan-text"
        >
          Not the Washington Post
        </a>
        <div class="slogan-row-text">
          <span class="slogan-row-text-col left" id="header-datestring"></span>
          <span class="slogan-row-text-col center">Mold Dies in Daylight</span>
          <span class="slogan-row-text-col right">
            Edition:&nbsp;
            <a
              hx-post="/index"
              hx-push-url="true"
              hx-swap="none"
              style="color: black"
            >
              Web
            </a>
          </span>
        </div>
        <hr class="medium-divider" />
      </div>
      <div
        class="home-page-body"
        hx-post="/index"
        hx-swap-oob="true"
        hx-trigger="load"
        id="app-body"
      >
        Body
      </div>
      <script type="text/javascript">
        document
          .getElementById("app-body")
          .setAttribute("hx-post", window.location.pathname);
      </script>
    </div>
  </body>
</html>
